/* GLOBAL */
* {
  font-family: consolas, monospace;
}

:root {
  --main-bg-color:        #313131;
  --main-bg-accent:       #515151;
  --main-font-color:      #eeeeee;
  --bright-accent:        #eeeeee;
  --dark-accent:          #212121;
  --accent-color:         #212121; /* #eef929; */
  --status-font-color:    #a2a2a2;
  --status-box-shadow:    rgba(33, 33, 33, 0.52);
  --highlight-gradient-1: #ffffff;
  --highlight-gradient-2: #ffcf9a;
}


/* Style Scrollbar */
/******************************************************************************/
::-webkit-scrollbar {
        background-color: var(--main-bg-color);
        width: .8em
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
        background:  var(--main-bg-accent);
}

/* Style Body */
/******************************************************************************/
body {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  padding: 0px;
  margin: 0;
}

/* Style Header */
/******************************************************************************/
header {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  padding: 30px;
  height: 40%;;
  text-align: center;
}

/* Style Status Bar */
/******************************************************************************/
.status-bar {
  width: 100%;
  font-family: consolas;
  height: 65px;
  background-color: var(--main-bg-color);
  top: 0;
  left: 0;
  box-shadow: inset 0px -8px 20px 5px var(--status-box-shadow);
}

.status-column {
  float: left;
  width: 50px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.status-image {
  padding-left: px;
}

.status-text  {
  font-size: 0.7rem;
  /* text-transform: uppercase; */
  color: var(--status-font-color);
  padding-top: 6px;
  white-space: nowrap;
  padding-left:10px;
}

/* Style Controls */
/******************************************************************************/
header label {
  display: block;
  padding: 5px
}

header input[type=text], select {
  background-color: var(--main-font-color);
  color: var(--main-bg-color);
  width: 100%;
  height: auto;
  padding: 8px 2%;
  margin: 15px 0;
  box-sizing: border-box;
  border: 0px;
  outline: 0px;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px var(--dark-accent);
}

header input[type=submit] {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  width: 100%;
  height: auto;
  margin-top: 8px;
  padding: 10px 2%;
  margin: 8px 0;
  border: 0px;
  outline: 0px;
  border-radius: 10px;
  box-shadow: inset 0 0 20px 5px var(--dark-accent);
}
header input[type=submit]:hover {
  background-color: var(--accent-color);
  color: var(--bright-accent);
  box-shadow: inset 0 0 4px 1px var(--dark-accent);
}
